#wrapper{
    height: 100vh;
    flex-direction: column;
    background-color: rgb(84, 84, 66);
}
#conatiner,#wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

}
.box1,.box2{
    height: 450px;
    width: 450px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex ;
    
}
   
.box1{
    background-color: rgb(99, 160, 160);
    margin-right: 20px;
    flex-direction: column;
}
.box2{
    background-color: white;
    margin-left: 20px;
}


